<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список файлов</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-4.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>

<body>

<header th:replace="/fragments/header.html::topNavigation"></header>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Имя файла</th>
        <th>Истекает</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>URL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${list}">
        <td th:text="${file.getId()}"></td>
        <td th:text="${file.getFileName()}"></td>
        <td th:text="${file.getExpiredAt()}"></td>
        <td th:text="${file.getUsername()}"></td>
        <td th:text="${file.getPassword()}"></td>
        <td th:text="${downloadPrefix.getDomain() + '/' + downloadPrefix.getPrefix() + '/' + file.getUrl()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>